src/main/resources/wsdl/CapitoloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://siac.csi.it/bil/svc/1.0" name="CapitoloService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siac.csi.it/bil/svc/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/cor/data/1.0" schemaLocation="CapitoloService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/svc/1.0" schemaLocation="CapitoloService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/data/1.0" schemaLocation="CapitoloService_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="verificaEliminabilitaCapitolo">
    <part name="verificaEliminabilitaCapitolo" element="tns:verificaEliminabilitaCapitolo"/>
  </message>
  <message name="verificaEliminabilitaCapitoloResponse">
    <part name="verificaEliminabilitaCapitoloResponse" element="tns:verificaEliminabilitaCapitoloResponse"/>
  </message>
  <message name="eliminaCapitolo">
    <part name="eliminaCapitolo" element="tns:eliminaCapitolo"/>
  </message>
  <message name="eliminaCapitoloResponse">
    <part name="eliminaCapitoloResponse" element="tns:eliminaCapitoloResponse"/>
  </message>
  <message name="verificaAnnullabilitaCapitolo">
    <part name="verificaAnnullabilitaCapitolo" element="tns:verificaAnnullabilitaCapitolo"/>
  </message>
  <message name="verificaAnnullabilitaCapitoloResponse">
    <part name="verificaAnnullabilitaCapitoloResponse" element="tns:verificaAnnullabilitaCapitoloResponse"/>
  </message>
  <message name="annullaCapitolo">
    <part name="annullaCapitolo" element="tns:annullaCapitolo"/>
  </message>
  <message name="annullaCapitoloResponse">
    <part name="annullaCapitoloResponse" element="tns:annullaCapitoloResponse"/>
  </message>
  <message name="calcoloDisponibilitaDiUnCapitolo">
    <part name="calcoloDisponibilitaDiUnCapitolo" element="tns:calcoloDisponibilitaDiUnCapitolo"/>
  </message>
  <message name="calcoloDisponibilitaDiUnCapitoloResponse">
    <part name="calcoloDisponibilitaDiUnCapitoloResponse" element="tns:calcoloDisponibilitaDiUnCapitoloResponse"/>
  </message>
  <message name="aggiornaStanziamentiCapitoliVariati">
    <part name="aggiornaStanziamentiCapitoliVariati" element="tns:aggiornaStanziamentiCapitoliVariati"/>
  </message>
  <message name="aggiornaStanziamentiCapitoliVariatiResponse">
    <part name="aggiornaStanziamentiCapitoliVariatiResponse" element="tns:aggiornaStanziamentiCapitoliVariatiResponse"/>
  </message>
  <message name="calcolaTotaliStanziamentiDiPrevisione">
    <part name="calcolaTotaliStanziamentiDiPrevisione" element="tns:calcolaTotaliStanziamentiDiPrevisione"/>
  </message>
  <message name="calcolaTotaliStanziamentiDiPrevisioneResponse">
    <part name="calcolaTotaliStanziamentiDiPrevisioneResponse" element="tns:calcolaTotaliStanziamentiDiPrevisioneResponse"/>
  </message>
  <message name="ricercaVariazioniCapitolo">
    <part name="ricercaVariazioniCapitolo" element="tns:ricercaVariazioniCapitolo"/>
  </message>
  <message name="ricercaVariazioniCapitoloResponse">
    <part name="ricercaVariazioniCapitoloResponse" element="tns:ricercaVariazioniCapitoloResponse"/>
  </message>
  <portType name="CapitoloService">
    <operation name="verificaEliminabilitaCapitolo">
      <input message="tns:verificaEliminabilitaCapitolo"/>
      <output message="tns:verificaEliminabilitaCapitoloResponse"/>
    </operation>
    <operation name="eliminaCapitolo">
      <input message="tns:eliminaCapitolo"/>
      <output message="tns:eliminaCapitoloResponse"/>
    </operation>
    <operation name="verificaAnnullabilitaCapitolo">
      <input message="tns:verificaAnnullabilitaCapitolo"/>
      <output message="tns:verificaAnnullabilitaCapitoloResponse"/>
    </operation>
    <operation name="annullaCapitolo">
      <input message="tns:annullaCapitolo"/>
      <output message="tns:annullaCapitoloResponse"/>
    </operation>
    <operation name="calcoloDisponibilitaDiUnCapitolo">
      <input message="tns:calcoloDisponibilitaDiUnCapitolo"/>
      <output message="tns:calcoloDisponibilitaDiUnCapitoloResponse"/>
    </operation>
    <operation name="aggiornaStanziamentiCapitoliVariati">
      <input message="tns:aggiornaStanziamentiCapitoliVariati"/>
      <output message="tns:aggiornaStanziamentiCapitoliVariatiResponse"/>
    </operation>
    <operation name="calcolaTotaliStanziamentiDiPrevisione">
      <input message="tns:calcolaTotaliStanziamentiDiPrevisione"/>
      <output message="tns:calcolaTotaliStanziamentiDiPrevisioneResponse"/>
    </operation>
    <operation name="ricercaVariazioniCapitolo">
      <input message="tns:ricercaVariazioniCapitolo"/>
      <output message="tns:ricercaVariazioniCapitoloResponse"/>
    </operation>
  </portType>
  <binding name="CapitoloServicePortBinding" type="tns:CapitoloService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="verificaEliminabilitaCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminaCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verificaAnnullabilitaCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="annullaCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calcoloDisponibilitaDiUnCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aggiornaStanziamentiCapitoliVariati">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calcolaTotaliStanziamentiDiPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaVariazioniCapitolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapitoloService">
    <port name="CapitoloServicePort" binding="tns:CapitoloServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

