src/main/resources/wsdl/CapitoloUscitaPrevisioneService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://siac.csi.it/bil/svc/1.0" name="CapitoloUscitaPrevisioneService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siac.csi.it/bil/svc/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/fin/data/1.0" schemaLocation="CapitoloUscitaPrevisioneService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/cor/data/1.0" schemaLocation="CapitoloUscitaPrevisioneService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/svc/1.0" schemaLocation="CapitoloUscitaPrevisioneService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/data/1.0" schemaLocation="CapitoloUscitaPrevisioneService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/att/data/1.0" schemaLocation="CapitoloUscitaPrevisioneService_schema5.xsd"/>
    </xsd:schema>
  </types>
  <message name="inserisceCapitoloDiUscitaPrevisione">
    <part name="inserisceCapitoloDiUscitaPrevisione" element="tns:inserisceCapitoloDiUscitaPrevisione"/>
  </message>
  <message name="inserisceCapitoloDiUscitaPrevisioneResponse">
    <part name="inserisceCapitoloDiUscitaPrevisioneResponse" element="tns:inserisceCapitoloDiUscitaPrevisioneResponse"/>
  </message>
  <message name="aggiornaCapitoloDiUscitaPrevisione">
    <part name="aggiornaCapitoloDiUscitaPrevisione" element="tns:aggiornaCapitoloDiUscitaPrevisione"/>
  </message>
  <message name="aggiornaCapitoloDiUscitaPrevisioneResponse">
    <part name="aggiornaCapitoloDiUscitaPrevisioneResponse" element="tns:aggiornaCapitoloDiUscitaPrevisioneResponse"/>
  </message>
  <message name="ricercaPuntualeCapitoloUscitaPrevisione">
    <part name="ricercaPuntualeCapitoloUscitaPrevisione" element="tns:ricercaPuntualeCapitoloUscitaPrevisione"/>
  </message>
  <message name="ricercaPuntualeCapitoloUscitaPrevisioneResponse">
    <part name="ricercaPuntualeCapitoloUscitaPrevisioneResponse" element="tns:ricercaPuntualeCapitoloUscitaPrevisioneResponse"/>
  </message>
  <message name="ricercaSinteticaCapitoloUscitaPrevisione">
    <part name="ricercaSinteticaCapitoloUscitaPrevisione" element="tns:ricercaSinteticaCapitoloUscitaPrevisione"/>
  </message>
  <message name="ricercaSinteticaCapitoloUscitaPrevisioneResponse">
    <part name="ricercaSinteticaCapitoloUscitaPrevisioneResponse" element="tns:ricercaSinteticaCapitoloUscitaPrevisioneResponse"/>
  </message>
  <message name="ricercaDettaglioCapitoloUscitaPrevisione">
    <part name="ricercaDettaglioCapitoloUscitaPrevisione" element="tns:ricercaDettaglioCapitoloUscitaPrevisione"/>
  </message>
  <message name="ricercaDettaglioCapitoloUscitaPrevisioneResponse">
    <part name="ricercaDettaglioCapitoloUscitaPrevisioneResponse" element="tns:ricercaDettaglioCapitoloUscitaPrevisioneResponse"/>
  </message>
  <message name="ricercaMovimentiCapitoloUscitaPrevisione">
    <part name="ricercaMovimentiCapitoloUscitaPrevisione" element="tns:ricercaMovimentiCapitoloUscitaPrevisione"/>
  </message>
  <message name="ricercaMovimentiCapitoloUscitaPrevisioneResponse">
    <part name="ricercaMovimentiCapitoloUscitaPrevisioneResponse" element="tns:ricercaMovimentiCapitoloUscitaPrevisioneResponse"/>
  </message>
  <portType name="CapitoloUscitaPrevisioneService">
    <operation name="inserisceCapitoloDiUscitaPrevisione">
      <input message="tns:inserisceCapitoloDiUscitaPrevisione"/>
      <output message="tns:inserisceCapitoloDiUscitaPrevisioneResponse"/>
    </operation>
    <operation name="aggiornaCapitoloDiUscitaPrevisione">
      <input message="tns:aggiornaCapitoloDiUscitaPrevisione"/>
      <output message="tns:aggiornaCapitoloDiUscitaPrevisioneResponse"/>
    </operation>
    <operation name="ricercaPuntualeCapitoloUscitaPrevisione">
      <input message="tns:ricercaPuntualeCapitoloUscitaPrevisione"/>
      <output message="tns:ricercaPuntualeCapitoloUscitaPrevisioneResponse"/>
    </operation>
    <operation name="ricercaSinteticaCapitoloUscitaPrevisione">
      <input message="tns:ricercaSinteticaCapitoloUscitaPrevisione"/>
      <output message="tns:ricercaSinteticaCapitoloUscitaPrevisioneResponse"/>
    </operation>
    <operation name="ricercaDettaglioCapitoloUscitaPrevisione">
      <input message="tns:ricercaDettaglioCapitoloUscitaPrevisione"/>
      <output message="tns:ricercaDettaglioCapitoloUscitaPrevisioneResponse"/>
    </operation>
    <operation name="ricercaMovimentiCapitoloUscitaPrevisione">
      <input message="tns:ricercaMovimentiCapitoloUscitaPrevisione"/>
      <output message="tns:ricercaMovimentiCapitoloUscitaPrevisioneResponse"/>
    </operation>
  </portType>
  <binding name="CapitoloUscitaPrevisioneServicePortBinding" type="tns:CapitoloUscitaPrevisioneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inserisceCapitoloDiUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aggiornaCapitoloDiUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaPuntualeCapitoloUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaSinteticaCapitoloUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDettaglioCapitoloUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaMovimentiCapitoloUscitaPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapitoloUscitaPrevisioneService">
    <port name="CapitoloUscitaPrevisioneServicePort" binding="tns:CapitoloUscitaPrevisioneServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

