src/main/resources/wsdl/CapitoloEntrataPrevisioneService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://siac.csi.it/bil/svc/1.0" name="CapitoloEntrataPrevisioneService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siac.csi.it/bil/svc/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/fin/data/1.0" schemaLocation="CapitoloEntrataPrevisioneService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/cor/data/1.0" schemaLocation="CapitoloEntrataPrevisioneService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/svc/1.0" schemaLocation="CapitoloEntrataPrevisioneService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/data/1.0" schemaLocation="CapitoloEntrataPrevisioneService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/att/data/1.0" schemaLocation="CapitoloEntrataPrevisioneService_schema5.xsd"/>
    </xsd:schema>
  </types>
  <message name="inserisceCapitoloDiEntrataPrevisione">
    <part name="inserisceCapitoloDiEntrataPrevisione" element="tns:inserisceCapitoloDiEntrataPrevisione"/>
  </message>
  <message name="inserisceCapitoloDiEntrataPrevisioneResponse">
    <part name="inserisceCapitoloDiEntrataPrevisioneResponse" element="tns:inserisceCapitoloDiEntrataPrevisioneResponse"/>
  </message>
  <message name="aggiornaCapitoloDiEntrataPrevisione">
    <part name="aggiornaCapitoloDiEntrataPrevisione" element="tns:aggiornaCapitoloDiEntrataPrevisione"/>
  </message>
  <message name="aggiornaCapitoloDiEntrataPrevisioneResponse">
    <part name="aggiornaCapitoloDiEntrataPrevisioneResponse" element="tns:aggiornaCapitoloDiEntrataPrevisioneResponse"/>
  </message>
  <message name="ricercaPuntualeCapitoloEntrataPrevisione">
    <part name="ricercaPuntualeCapitoloEntrataPrevisione" element="tns:ricercaPuntualeCapitoloEntrataPrevisione"/>
  </message>
  <message name="ricercaPuntualeCapitoloEntrataPrevisioneResponse">
    <part name="ricercaPuntualeCapitoloEntrataPrevisioneResponse" element="tns:ricercaPuntualeCapitoloEntrataPrevisioneResponse"/>
  </message>
  <message name="ricercaSinteticaCapitoloEntrataPrevisione">
    <part name="ricercaSinteticaCapitoloEntrataPrevisione" element="tns:ricercaSinteticaCapitoloEntrataPrevisione"/>
  </message>
  <message name="ricercaSinteticaCapitoloEntrataPrevisioneResponse">
    <part name="ricercaSinteticaCapitoloEntrataPrevisioneResponse" element="tns:ricercaSinteticaCapitoloEntrataPrevisioneResponse"/>
  </message>
  <message name="ricercaDettaglioCapitoloEntrataPrevisione">
    <part name="ricercaDettaglioCapitoloEntrataPrevisione" element="tns:ricercaDettaglioCapitoloEntrataPrevisione"/>
  </message>
  <message name="ricercaDettaglioCapitoloEntrataPrevisioneResponse">
    <part name="ricercaDettaglioCapitoloEntrataPrevisioneResponse" element="tns:ricercaDettaglioCapitoloEntrataPrevisioneResponse"/>
  </message>
  <message name="ricercaMovimentiCapitoloEntrataPrevisione">
    <part name="ricercaMovimentiCapitoloEntrataPrevisione" element="tns:ricercaMovimentiCapitoloEntrataPrevisione"/>
  </message>
  <message name="ricercaMovimentiCapitoloEntrataPrevisioneResponse">
    <part name="ricercaMovimentiCapitoloEntrataPrevisioneResponse" element="tns:ricercaMovimentiCapitoloEntrataPrevisioneResponse"/>
  </message>
  <portType name="CapitoloEntrataPrevisioneService">
    <operation name="inserisceCapitoloDiEntrataPrevisione">
      <input message="tns:inserisceCapitoloDiEntrataPrevisione"/>
      <output message="tns:inserisceCapitoloDiEntrataPrevisioneResponse"/>
    </operation>
    <operation name="aggiornaCapitoloDiEntrataPrevisione">
      <input message="tns:aggiornaCapitoloDiEntrataPrevisione"/>
      <output message="tns:aggiornaCapitoloDiEntrataPrevisioneResponse"/>
    </operation>
    <operation name="ricercaPuntualeCapitoloEntrataPrevisione">
      <input message="tns:ricercaPuntualeCapitoloEntrataPrevisione"/>
      <output message="tns:ricercaPuntualeCapitoloEntrataPrevisioneResponse"/>
    </operation>
    <operation name="ricercaSinteticaCapitoloEntrataPrevisione">
      <input message="tns:ricercaSinteticaCapitoloEntrataPrevisione"/>
      <output message="tns:ricercaSinteticaCapitoloEntrataPrevisioneResponse"/>
    </operation>
    <operation name="ricercaDettaglioCapitoloEntrataPrevisione">
      <input message="tns:ricercaDettaglioCapitoloEntrataPrevisione"/>
      <output message="tns:ricercaDettaglioCapitoloEntrataPrevisioneResponse"/>
    </operation>
    <operation name="ricercaMovimentiCapitoloEntrataPrevisione">
      <input message="tns:ricercaMovimentiCapitoloEntrataPrevisione"/>
      <output message="tns:ricercaMovimentiCapitoloEntrataPrevisioneResponse"/>
    </operation>
  </portType>
  <binding name="CapitoloEntrataPrevisioneServicePortBinding" type="tns:CapitoloEntrataPrevisioneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inserisceCapitoloDiEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aggiornaCapitoloDiEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaPuntualeCapitoloEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaSinteticaCapitoloEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDettaglioCapitoloEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaMovimentiCapitoloEntrataPrevisione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapitoloEntrataPrevisioneService">
    <port name="CapitoloEntrataPrevisioneServicePort" binding="tns:CapitoloEntrataPrevisioneServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

