src/main/resources/wsdl/CapitoloEntrataGestioneService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://siac.csi.it/bil/svc/1.0" name="CapitoloEntrataGestioneService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siac.csi.it/bil/svc/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/fin/data/1.0" schemaLocation="CapitoloEntrataGestioneService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/cor/data/1.0" schemaLocation="CapitoloEntrataGestioneService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/svc/1.0" schemaLocation="CapitoloEntrataGestioneService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/data/1.0" schemaLocation="CapitoloEntrataGestioneService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/att/data/1.0" schemaLocation="CapitoloEntrataGestioneService_schema5.xsd"/>
    </xsd:schema>
  </types>
  <message name="inserisceCapitoloDiEntrataGestione">
    <part name="inserisceCapitoloDiEntrataGestione" element="tns:inserisceCapitoloDiEntrataGestione"/>
  </message>
  <message name="inserisceCapitoloDiEntrataGestioneResponse">
    <part name="inserisceCapitoloDiEntrataGestioneResponse" element="tns:inserisceCapitoloDiEntrataGestioneResponse"/>
  </message>
  <message name="ricercaPuntualeCapitoloEntrataGestione">
    <part name="ricercaPuntualeCapitoloEntrataGestione" element="tns:ricercaPuntualeCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaPuntualeCapitoloEntrataGestioneResponse">
    <part name="ricercaPuntualeCapitoloEntrataGestioneResponse" element="tns:ricercaPuntualeCapitoloEntrataGestioneResponse"/>
  </message>
  <message name="ricercaSinteticaCapitoloEntrataGestione">
    <part name="ricercaSinteticaCapitoloEntrataGestione" element="tns:ricercaSinteticaCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaSinteticaCapitoloEntrataGestioneResponse">
    <part name="ricercaSinteticaCapitoloEntrataGestioneResponse" element="tns:ricercaSinteticaCapitoloEntrataGestioneResponse"/>
  </message>
  <message name="ricercaDettaglioCapitoloEntrataGestione">
    <part name="ricercaDettaglioCapitoloEntrataGestione" element="tns:ricercaDettaglioCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaDettaglioCapitoloEntrataGestioneResponse">
    <part name="ricercaDettaglioCapitoloEntrataGestioneResponse" element="tns:ricercaDettaglioCapitoloEntrataGestioneResponse"/>
  </message>
  <message name="ricercaMovimentiCapitoloEntrataGestione">
    <part name="ricercaMovimentiCapitoloEntrataGestione" element="tns:ricercaMovimentiCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaMovimentiCapitoloEntrataGestioneResponse">
    <part name="ricercaMovimentiCapitoloEntrataGestioneResponse" element="tns:ricercaMovimentiCapitoloEntrataGestioneResponse"/>
  </message>
  <message name="ricercaAccertamentiCapitoloEntrataGestione">
    <part name="ricercaAccertamentiCapitoloEntrataGestione" element="tns:ricercaAccertamentiCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaAccertamentiCapitoloEntrataGestioneResponse">
    <part name="ricercaAccertamentiCapitoloEntrataGestioneResponse" element="tns:ricercaAccertamentiCapitoloEntrataGestioneResponse"/>
  </message>
  <message name="ricercaDocumentiCapitoloEntrataGestione">
    <part name="ricercaDocumentiCapitoloEntrataGestione" element="tns:ricercaDocumentiCapitoloEntrataGestione"/>
  </message>
  <message name="ricercaDocumentiCapitoloEntrataGestioneResponse">
    <part name="ricercaDocumentiCapitoloEntrataGestioneResponse" element="tns:ricercaDocumentiCapitoloEntrataGestioneResponse"/>
  </message>
  <portType name="CapitoloEntrataGestioneService">
    <operation name="inserisceCapitoloDiEntrataGestione">
      <input message="tns:inserisceCapitoloDiEntrataGestione"/>
      <output message="tns:inserisceCapitoloDiEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaPuntualeCapitoloEntrataGestione">
      <input message="tns:ricercaPuntualeCapitoloEntrataGestione"/>
      <output message="tns:ricercaPuntualeCapitoloEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaSinteticaCapitoloEntrataGestione">
      <input message="tns:ricercaSinteticaCapitoloEntrataGestione"/>
      <output message="tns:ricercaSinteticaCapitoloEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaDettaglioCapitoloEntrataGestione">
      <input message="tns:ricercaDettaglioCapitoloEntrataGestione"/>
      <output message="tns:ricercaDettaglioCapitoloEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaMovimentiCapitoloEntrataGestione">
      <input message="tns:ricercaMovimentiCapitoloEntrataGestione"/>
      <output message="tns:ricercaMovimentiCapitoloEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaAccertamentiCapitoloEntrataGestione">
      <input message="tns:ricercaAccertamentiCapitoloEntrataGestione"/>
      <output message="tns:ricercaAccertamentiCapitoloEntrataGestioneResponse"/>
    </operation>
    <operation name="ricercaDocumentiCapitoloEntrataGestione">
      <input message="tns:ricercaDocumentiCapitoloEntrataGestione"/>
      <output message="tns:ricercaDocumentiCapitoloEntrataGestioneResponse"/>
    </operation>
  </portType>
  <binding name="CapitoloEntrataGestioneServicePortBinding" type="tns:CapitoloEntrataGestioneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inserisceCapitoloDiEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaPuntualeCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaSinteticaCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDettaglioCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaMovimentiCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaAccertamentiCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDocumentiCapitoloEntrataGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapitoloEntrataGestioneService">
    <port name="CapitoloEntrataGestioneServicePort" binding="tns:CapitoloEntrataGestioneServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

