src/main/resources/wsdl/CapitoloUscitaGestioneService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://siac.csi.it/bil/svc/1.0" name="CapitoloUscitaGestioneService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siac.csi.it/bil/svc/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/fin/data/1.0" schemaLocation="CapitoloUscitaGestioneService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/cor/data/1.0" schemaLocation="CapitoloUscitaGestioneService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/svc/1.0" schemaLocation="CapitoloUscitaGestioneService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/bil/data/1.0" schemaLocation="CapitoloUscitaGestioneService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://siac.csi.it/att/data/1.0" schemaLocation="CapitoloUscitaGestioneService_schema5.xsd"/>
    </xsd:schema>
  </types>
  <message name="inserisceCapitoloDiUscitaGestione">
    <part name="inserisceCapitoloDiUscitaGestione" element="tns:inserisceCapitoloDiUscitaGestione"/>
  </message>
  <message name="inserisceCapitoloDiUscitaGestioneResponse">
    <part name="inserisceCapitoloDiUscitaGestioneResponse" element="tns:inserisceCapitoloDiUscitaGestioneResponse"/>
  </message>
  <message name="ricercaPuntualeCapitoloUscitaGestione">
    <part name="ricercaPuntualeCapitoloUscitaGestione" element="tns:ricercaPuntualeCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaPuntualeCapitoloUscitaGestioneResponse">
    <part name="ricercaPuntualeCapitoloUscitaGestioneResponse" element="tns:ricercaPuntualeCapitoloUscitaGestioneResponse"/>
  </message>
  <message name="ricercaSinteticaCapitoloUscitaGestione">
    <part name="ricercaSinteticaCapitoloUscitaGestione" element="tns:ricercaSinteticaCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaSinteticaCapitoloUscitaGestioneResponse">
    <part name="ricercaSinteticaCapitoloUscitaGestioneResponse" element="tns:ricercaSinteticaCapitoloUscitaGestioneResponse"/>
  </message>
  <message name="ricercaDettaglioCapitoloUscitaGestione">
    <part name="ricercaDettaglioCapitoloUscitaGestione" element="tns:ricercaDettaglioCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaDettaglioCapitoloUscitaGestioneResponse">
    <part name="ricercaDettaglioCapitoloUscitaGestioneResponse" element="tns:ricercaDettaglioCapitoloUscitaGestioneResponse"/>
  </message>
  <message name="ricercaMovimentiCapitoloUscitaGestione">
    <part name="ricercaMovimentiCapitoloUscitaGestione" element="tns:ricercaMovimentiCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaMovimentiCapitoloUscitaGestioneResponse">
    <part name="ricercaMovimentiCapitoloUscitaGestioneResponse" element="tns:ricercaMovimentiCapitoloUscitaGestioneResponse"/>
  </message>
  <message name="ricercaImpegniCapitoloUscitaGestione">
    <part name="ricercaImpegniCapitoloUscitaGestione" element="tns:ricercaImpegniCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaImpegniCapitoloUscitaGestioneResponse">
    <part name="ricercaImpegniCapitoloUscitaGestioneResponse" element="tns:ricercaImpegniCapitoloUscitaGestioneResponse"/>
  </message>
  <message name="ricercaDocumentiCapitoloUscitaGestione">
    <part name="ricercaDocumentiCapitoloUscitaGestione" element="tns:ricercaDocumentiCapitoloUscitaGestione"/>
  </message>
  <message name="ricercaDocumentiCapitoloUscitaGestioneResponse">
    <part name="ricercaDocumentiCapitoloUscitaGestioneResponse" element="tns:ricercaDocumentiCapitoloUscitaGestioneResponse"/>
  </message>
  <portType name="CapitoloUscitaGestioneService">
    <operation name="inserisceCapitoloDiUscitaGestione">
      <input message="tns:inserisceCapitoloDiUscitaGestione"/>
      <output message="tns:inserisceCapitoloDiUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaPuntualeCapitoloUscitaGestione">
      <input message="tns:ricercaPuntualeCapitoloUscitaGestione"/>
      <output message="tns:ricercaPuntualeCapitoloUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaSinteticaCapitoloUscitaGestione">
      <input message="tns:ricercaSinteticaCapitoloUscitaGestione"/>
      <output message="tns:ricercaSinteticaCapitoloUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaDettaglioCapitoloUscitaGestione">
      <input message="tns:ricercaDettaglioCapitoloUscitaGestione"/>
      <output message="tns:ricercaDettaglioCapitoloUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaMovimentiCapitoloUscitaGestione">
      <input message="tns:ricercaMovimentiCapitoloUscitaGestione"/>
      <output message="tns:ricercaMovimentiCapitoloUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaImpegniCapitoloUscitaGestione">
      <input message="tns:ricercaImpegniCapitoloUscitaGestione"/>
      <output message="tns:ricercaImpegniCapitoloUscitaGestioneResponse"/>
    </operation>
    <operation name="ricercaDocumentiCapitoloUscitaGestione">
      <input message="tns:ricercaDocumentiCapitoloUscitaGestione"/>
      <output message="tns:ricercaDocumentiCapitoloUscitaGestioneResponse"/>
    </operation>
  </portType>
  <binding name="CapitoloUscitaGestioneServicePortBinding" type="tns:CapitoloUscitaGestioneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inserisceCapitoloDiUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaPuntualeCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaSinteticaCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDettaglioCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaMovimentiCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaImpegniCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ricercaDocumentiCapitoloUscitaGestione">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CapitoloUscitaGestioneService">
    <port name="CapitoloUscitaGestioneServicePort" binding="tns:CapitoloUscitaGestioneServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

